body {
  padding: 50px; /* 表示したときに見やすくするためのpadding */
}

.list {
  border: 3px solid #000; /* 外の黒枠 */
  display: flex; /* linkの横並び */
}

.item {
  border: 2px solid red; /* linkの赤枠 */
}

.imageContainer {

}

.image {

}