body {
  padding: 50px; /* 表示したときに見やすくするためのpadding */
}

.wraper {
  border: 3px solid #000; /* 外の黒枠 */
  padding: 50px;
}

.list {
  display: flex;
}

.item {
  padding: 5px;
  background-color: blue;
}

.imageContainer {
  width: 200px;
}

.image {
  width: 100%;
}